#login {
    padding: 0;

    .close-button {
        color: $primary-color;

        &:hover {
            color: $black;
        }
    }

    h2 {
        color: white;
    }

    .md-raised {
        color: white !important;
    }
}