<div id="login" class="reveal" data-reveal>
    <form>
        <div layout="column" class="login md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Login</span></h2>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>EmailAddress</label>
                    <input type="email" data-ng-model="userdata.email" required/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" data-ng-model="userdata.password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="submit-login md-raised md-primary">Login</md-button>
                    <div flex="flex"></div>
                </div>
            </md-content>
        </div>
    </form>
</div>
