<div ng-repeat="project in vm.projectdata">
    <div class="other-milestone-panel">
        <div class="other-milestone-panel-inner">
            <div class="other-milestone-header">
                {{project.title}}
            </div>
            <div class="other-milestone-meta flex">
                <div class="flex flex-end">
                    created at {{project.createdAt}}
                </div>
            </div>
            <div class="other-milestone-content" ng-repeat="milestone in project.milestones">
                <span>{{milestone.title}}</span>
            </div>
        </div>
    </div>
</div>