<div id="newProject">
    <!-- add new project -->
    <form id="goal">
        <div class="row">
            <div class="column medium-6 medium-offset-3">
                <div class="row flex-center reset-column-padding">
                    <div class="column small-10">
                        <input type="text" data-ng-model="user.project.title" placeholder="Type your goal..." required>
                    </div>
                    <div class="column small-2">
                        <input type="submit" value="Go!"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="milestone">
        <div class="row">
            <div class="column medium-6 medium-offset-3">
                <div class="row flex-center reset-column-padding">
                    <div class="column small-12 input-margin">
                        <div class="row flex-center">
                            <div class="column small-6 flex-start">
                                <input type="text" data-ng-model="user.project.milestone[0].title" placeholder="Milestone 1..." required />
                            </div>
                            <div class="column small-6 flex-end">
                                <input type="date" name="" data-ng-model="user.project.milestone[0].date" required />
                            </div>
                        </div>
                    </div>
                    <div class="column small-12 input-margin">
                        <div class="row flex-center">
                            <div class="column small-6 flex-start">
                                <input type="text" data-ng-model="user.project.milestone[1].title" placeholder="Milestone 2..." required />
                            </div>
                            <div class="column small-6 flex-end">
                                <input type="date" name="" data-ng-model="user.project.milestone[1].date" required />
                            </div>
                        </div>
                    </div>
                    <div class="column small-12 input-margin">
                        <div class="row flex-center">
                            <div class="column small-6 flex-start">
                                <input type="text" data-ng-model="user.project.milestone[2].title" placeholder="Milestone 3..." required />
                            </div>
                            <div class="column small-6 flex-end">
                                <input type="date" name="" data-ng-model="user.project.milestone[2].date" required />
                            </div>
                        </div>
                    </div>
                    <div class="input-margin">
                        <input type="submit" value="Next!"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="personal-data">
        <div class="row">
            <div class="column medium-6 medium-offset-3">
                <div class="row flex-center reset-column-padding">
                        <input type="email" data-ng-model="user.email" placeholder="Email" required>
                        <input type="submit" value="Start!"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>