#newProject {
    font-size: 1rem;
    position: relative;

    > button {
        position: absolute;
        top: $global-margin;
        left: $global-margin;
        padding: $global-padding;
        background: $secondary-color;
        color: $white;
        z-index: 2;
    }

    .title {
        width: 100%;
        background: rgba($white, .6);
        margin: $global-margin*2 0 $global-margin;

        h3 {
            margin: 0;
        }
    }

    .transform {
        transition: .5s transform;
        white-space: nowrap;

        > div {
            display: inline-block;
            width: 100%;
        }
    }

    form {
        padding: 0 $global-padding;

    }

    .input-margin {
        margin: $global-margin 0 0;
        width: 100%;

        &:nth-of-type(1) {
            margin: 0;
        }
    }

    input {
        width: 100%;
        display: block;
        padding: $global-padding;
        margin: $global-margin 0 0;
        border: 1px solid $secondary-color;

        &:nth-of-type(1) {
            margin: 0;
        }

        &[type='submit'] {
            height: inherit;
            width: 100%;
            background: $secondary-color;
            border: 1px solid $secondary-color;
            padding: $global-padding;
            color: $white;
        }

        // hack for date
        // should remove this
        &[type='date']{
            padding: 1.57rem
        }
    }
}