.navbar-header {
    li {
        .active {
            background: $dark-gray
        }

        a {
            transition: .5s color;

            &:hover {
                color: #CDDC39;
                transition: .5s color;
            }
        }
    }
}