<div class="step">
    <div class="row">
        <div class="column small-11">
            <div class="row padding">
                <div class="column medium-8 small-12">
                    <span ng-if="!msItem.isEditMode">#{{ $index +1 }} {{ milestone.title }}</span>
                    <input type="text" ng-model="milestone.title" ng-if="msItem.isEditMode"/>
                </div>
                <div class="column small-4 hide-for-small-only">
                    <span ng-if="!msItem.isEditMode">{{ milestone.formatDate}}</span>
                    <input type="date" data-ng-model="milestone.dueDate" ng-if="msItem.isEditMode"/>
                </div>
            </div>
        </div>
        <div class="column small-1 flex flex-center edit" ng-click="msItem.edit(milestone.id, milestone.title, milestone.dueDate)">
            <div class="flex flex-center flex-horizontal-center">
                <i class="fa fa-pencil" aria-hidden="true" ng-if="!msItem.isEditMode"></i>
                <i class="fa fa-floppy-o" aria-hidden="true" ng-if="msItem.isEditMode"></i>
            </div>
        </div>
    </div>
</div>
