<div>
    <div class="milestone-next" data-ng-if="next">
        <div class="success progress">
            <div class="progress-meter" style="width: {{ 100 / next.dueIn  }}%">
                <p class="progress-meter-text">{{ next.dueIn }} days left</p>
            </div>
        </div>
        <div class="milestone-next-inner reset-column-padding">
            <div class="row row-border">
                <div class="column medium-5 small-12">
                    <p>This milestone:</p>
                    <h1>{{current.title}}</h1>
                </div>
                <div class="column medium-5 small-12">
                    <p>Next milestone:</p>
                    <h1>{{next.title}}</h1>
                </div>
                <div class="column medium-1 small-8 next-btn flex flex-center flex-horizontal-center" data-ng-click="currentDone()">
                    <i class="fa fa-check"></i>
                </div>
                <a class="column medium-1 small-4 edit-btn flex flex-center flex-horizontal-center" href="#/edit">
                    <i class="fa fa-gear"></i>
                </a>
            </div>
        </div>
        <md-checkbox ng-model="next.done" aria-label="Finished?" ng-click="currentDone()">
            Finished ?
        </md-checkbox>
    </div>

    <div class="milestone-next" data-ng-if="!next">
        <div class="success progress">
            <div class="progress-meter" style="width: 100%">
                <p class="progress-meter-text">Finished on {{ moment(project.milestones[0].finishedDate).format('MM/DD/YYYY') }}</p>
            </div>
        </div>
        <div class="milestone-next-inner reset-column-padding">
            <div class="row row-border">
                <div class="column small-10">
                    <p>Projecttitle:</p>
                    <h1>{{project.title}}</h1>
                </div>
                <div class="column small-2 thumbs flex flex-center flex-horizontal-center">
                    <i class="fa fa-thumbs-up"></i>
                </div>
            </div>
        </div>
        <md-checkbox ng-model="next.done" aria-label="Finished?" ng-click="currentDone()">
            Finished ?
        </md-checkbox>
    </div>
</div>
<div data-milestones></div>

<div data-add-step></div>
<div data-step data-ng-repeat="step in steps"></div>
