<div class="add-step">
    <form>
        <div class="row">
            <div class="column medium-6">
                <div class="row">
                    <div class="column small-10">
                        <md-input-container>
                            <label>Add step</label>
                            <input type="text" data-ng-model="userdata.email" required/>
                        </md-input-container>
                    </div>
                    <div class="column small-2">
                        <md-button class="md-raised md-primary" ng-click="login()">+</md-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
